<script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field">
  <%= f.cktext_area field.attribute %>
</div>
